<div class="card bg-base-100 shadow-sm border border-gray-500 animate-fade-in-scale">
    <figure class="">
      <img
        [src]="imageUrl() | productImage"
        [alt]="product().title"
        class="rounded-top-xl" />
    </figure>
    <div class="card-body items-center text-center px-10">
      <h2 class="card-title text-accent">{{ product().title }}</h2>
      <p>{{ product().description | slice: 0 : 70 }}...</p>
      <div class="card-actions">
        <a class="btn btn-primary" [routerLink]="['/product', product().slug]">See product</a>
      </div>
    </div>
  </div>
