/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
   themes: dim --default, dark --prefersdark;
 }
 @theme {
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
